Repository mohammadrajabraza/nest-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
    "**/*.{ts,tsx}": ["npm run lint", "npm run format"],
    "**/*.{js,json,md,yml,yaml}": ["npm run format"]
}

feat: added path aliasing
  eslint.config.mjs
  package.json
  tsconfig.json
Due: npm run format

feat: env config validation and database initialization
  package-lock.json
  package.json
  src/app.module.ts
  src/config/app.config.ts
  src/config/config.type.ts
  src/config/database.config.ts
  src/config/index.ts
  src/database/data-source.ts
  src/database/typeorm-config.service.ts
  src/shared/services/api-config.service.ts
  src/shared/shared.module.ts
  src/utils/snake-naming.ts
  src/utils/validate-config.ts
Due: npm run lint, npm run format

feat: database integration, migrations, seeds and entities
  .docker/document.Dockerfile
  env-example-document
  package-lock.json
  package.json
  scripts/startup.document.dev.sh
  scripts/wait-for-it.sh
  src/app.module.ts
  src/common/abstract.entity.ts
  src/common/dto/abstract.dto.ts
  src/common/utils.ts
  src/config/database.config.ts
  src/constants/role-type.ts
  src/database/data-source.ts
  src/database/migrations/1744532537277-Initial.ts
  src/database/migrations/1744533394359-ChangeDateTimeColumnNames.ts
  src/database/migrations/1744533879982-FixColumnNames.ts
  src/database/seeds/company/company-seed.module.ts
  src/database/seeds/company/company-seed.service.ts
  src/database/seeds/role/role-seed.module.ts
  src/database/seeds/role/role-seed.service.ts
  src/database/seeds/run-seed.ts
  src/database/seeds/seed.module.ts
  src/database/seeds/user/user-seed.module.ts
  src/database/seeds/user/user-seed.service.ts
  src/decorators/field.decorator.ts
  src/decorators/property.decorator.ts
  src/decorators/transform.decorator.ts
  src/decorators/use-dto.decorator.ts
  src/decorators/validator.decorator.ts
  src/modules/companies/dtos/company.dto.ts
  src/modules/companies/infrastructure/persistence/entities/company.entity.ts
  src/modules/roles/dtos/role.dto.ts
  src/modules/roles/infrastructure/persistence/entities/role.entity.ts
  src/modules/users/dtos/user.dto.ts
  src/modules/users/infrastructure/persistence/entities/user.entity.ts
  src/shared/services/api-config.service.ts
  src/types/index.ts
  src/utils/relation-entity-helper.ts
Due: npm run lint, npm run format

feat: translations and swagger integration
  nest-cli.json
  package-lock.json
  package.json
  src/app.module.ts
  src/common/abstract.entity.ts
  src/common/dto/abstract.dto.ts
  src/common/dto/create-translation.dto.ts
  src/common/dto/page-meta.dto.ts
  src/common/dto/page-options.dto.ts
  src/common/dto/page.dto.ts
  src/constants/language-code.ts
  src/constants/order.ts
  src/decorators/field.decorator.ts
  src/decorators/property.decorator.ts
  src/decorators/swagger.schema.ts
  src/decorators/transform.decorator.ts
  src/decorators/translate.decorator.ts
  src/i18n/en_US/messages.json
  src/i18n/ru_RU/messages.json
  src/interceptors/language.interceptor.ts
  src/interceptors/translation.interceptor.ts
  src/interfaces/IApiFile.ts
  src/interfaces/ITranslationDecorator.ts
  src/main.ts
  src/polyfill.ts
  src/providers/context.provider.ts
  src/setup-swagger.ts
  src/shared/services/api-config.service.ts
  src/shared/services/translation.service.ts
  src/shared/shared.module.ts
  src/test/test-translation.entity.ts
  src/test/test.controller.ts
  src/test/test.entity.ts
Due: npm run lint, npm run format

feat: validations, filters, rate limiting
  package-lock.json
  package.json
  src/app.module.ts
  src/config/app.config.ts
  src/config/config.type.ts
  src/constants/constraints-error.ts
  src/filters/bad-request.filter.ts
  src/filters/query-failed.filter.ts
  src/main.ts
  src/shared/services/api-config.service.ts
  src/validators/exists.validator.ts
  src/validators/same-as.validator.ts
  src/validators/unique.validator.ts
Due: npm run lint, npm run format

feat: session, refresh, logout and me apis
  src/app.module.ts
  src/config/auth-auth-log-event.ts
  src/constants/error-message.ts
  src/constants/success-message.ts
  src/database/migrations/1744958423493-AuthAuditLog.ts
  src/decorators/current-session.decorator.ts
  src/decorators/current-token.decorator.ts
  src/decorators/current-user.decorator.ts
  src/decorators/public.decorator.ts
  src/guards/auth.guard.ts
  src/guards/refresh.guard.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/domain/auth-audit-log.dto.ts
  src/modules/auth/domain/session.dto.ts
  src/modules/auth/dtos/body/email-login.dto.ts
  src/modules/auth/dtos/body/refresh-token.dto.ts
  src/modules/auth/dtos/response/get-me.dto.ts
  src/modules/auth/dtos/response/logout.dto.ts
  src/modules/auth/dtos/response/refresh-token.dto.ts
  src/modules/auth/infrastructure/persistence/entities/auth-audit-log.entity.ts
  src/modules/auth/infrastructure/persistence/mapper/refresh.mapper.ts
  src/modules/auth/strategies/jwt-refresh.startegy.ts
  src/modules/token/token.service.ts
  src/modules/users/infrastructure/persistence/entities/user.entity.ts
  src/types/jwt.ts
Due: npm run lint, npm run format

feat: auth audit log interceptor
  package-lock.json
  package.json
  src/config/auth-auth-log-event.ts
  src/constants/auth-audit-log-event.ts
  src/constants/error-message.ts
  src/database/migrations/1745031075642-AuthAuditLog.ts
  src/interceptors/auth-audit.interceptor.ts
  src/main.ts
  src/modules/auth-audit-logs/auth-audit-log.module.ts
  src/modules/auth-audit-logs/auth-audit-log.service.ts
  src/modules/auth-audit-logs/domain/auth-audit-log.dto.ts
  src/modules/auth-audit-logs/infrastructure/entities/auth-audit-log.entity.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/users/infrastructure/persistence/entities/user.entity.ts
Due: npm run lint, npm run format

feat: google oauth
  package-lock.json
  package.json
  src/config/config.type.ts
  src/config/google.config.ts
  src/config/index.ts
  src/constants/strategy-name.ts
  src/database/migrations/1745050472938-User.ts
  src/decorators/transform.decorator.ts
  src/guards/google-oauth.guard.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dtos/body/email-signup.dto.ts
  src/modules/auth/infrastructure/persistence/subscribers/user.subscriber.ts
  src/modules/auth/strategies/google-oauth.strategy.ts
  src/modules/users/infrastructure/persistence/entities/user.entity.ts
  src/modules/users/user.service.ts
  src/shared/services/api-config.service.ts
  src/types/jwt.ts
Due: npm run lint, npm run format

feat: image uploading
  package-lock.json
  package.json
  src/app.module.ts
  src/config/aws.config.ts
  src/config/config.type.ts
  src/config/index.ts
  src/interfaces/IFile.ts
  src/modules/images/image.controller.ts
  src/modules/images/image.module.ts
  src/modules/images/image.service.ts
  src/modules/images/pipes/image-upload.pipe.ts
  src/shared/services/api-config.service.ts
  src/shared/services/aws-s3.service.ts
  src/shared/services/generator.service.ts
  src/shared/shared.module.ts
  src/utils/stream-to-buffer.ts
Due: npm run lint, npm run format

feat: google success and error redirect
  src/config/config.type.ts
  src/config/google.config.ts
  src/constants/auth-providers.ts
  src/constants/error-message.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/users/user.service.ts
  src/shared/services/api-config.service.ts
Due: npm run lint, npm run format

feat: role guard
  src/app.module.ts
  src/decorators/role.decorator.ts
  src/guards/role.guard.ts
  src/main.ts
  src/modules/auth/auth.controller.ts
  src/modules/users/user.service.ts
Due: npm run lint, npm run format

feat: company and role module with swagger
  src/app.module.ts
  src/common/dto/base-response.dto.ts
  src/constants/error-message.ts
  src/constants/role-type.ts
  src/constants/success-message.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/dtos/response/email-login.dto.ts
  src/modules/auth/dtos/response/refresh-token.dto.ts
  src/modules/auth/infrastructure/persistence/mapper/login.mapper.ts
  src/modules/auth/infrastructure/persistence/mapper/refresh.mapper.ts
  src/modules/companies/company.controller.ts
  src/modules/companies/company.module.ts
  src/modules/companies/company.service.ts
  src/modules/companies/domain/company.dto.ts
  src/modules/companies/dtos/body/create-company.dto.ts
  src/modules/companies/dtos/body/update-company.dto.ts
  src/modules/companies/dtos/response/company.dto.ts
  src/modules/companies/dtos/response/list-company.dto.ts
  src/modules/companies/infrastructure/persistence/entities/company.entity.ts
  src/modules/companies/infrastructure/persistence/mapper/company.mapper.ts
  src/modules/roles/dtos/body/create-role.dto.ts
  src/modules/roles/dtos/body/update-role.dto.ts
  src/modules/roles/dtos/response/list-role.dto.ts
  src/modules/roles/dtos/response/role.dto.ts
  src/modules/roles/infrastructure/persistence/mapper/role.mapper.ts
  src/modules/roles/role.controller.ts
  src/modules/roles/role.module.ts
  src/modules/roles/role.service.ts
  src/modules/token/domain/token.dto.ts
  src/modules/token/dtos/auth-token.dto.ts
  src/modules/token/infrastructure/persistence/entities/token.entity.ts
  src/modules/token/token.service.ts
  src/modules/users/infrastructure/persistence/entities/user.entity.ts
  src/types/jwt.ts
Due: npm run lint, npm run format

feat: example env
  env-example-document
  example-env
Due: none

Users module
  src/constants/error-message.ts
  src/constants/success-message.ts
  src/database/migrations/1745382335187-add_column.ts
  src/database/seeds/user/user-seed.module.ts
  src/database/seeds/user/user-seed.service.ts
  src/mail/mail-templates/create-user.hbs
  src/mail/mail.service.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dtos/response/email-login.dto.ts
  src/modules/auth/dtos/response/email-signup.dto.ts
  src/modules/auth/dtos/response/get-me.dto.ts
  src/modules/auth/infrastructure/persistence/mapper/login.mapper.ts
  src/modules/companies/dtos/body/update-company.dto.ts
  src/modules/roles/dtos/body/update-role.dto.ts
  src/modules/users/domain/user.dto.ts
  src/modules/users/dtos/body/create-user.dto.ts
  src/modules/users/dtos/body/update-user.dto.ts
  src/modules/users/dtos/response/list-user.dto.ts
  src/modules/users/dtos/response/user.dto.ts
  src/modules/users/infrastructure/persistence/entities/profile-setting.entity.ts
  src/modules/users/infrastructure/persistence/entities/user.entity.ts
  src/modules/users/infrastructure/persistence/mapper/user.mapper.ts
  src/modules/users/user.controller.ts
  src/modules/users/user.module.ts
  src/modules/users/user.service.ts
  src/shared/services/generator.service.ts
  src/types/jwt.ts
Due: npm run lint, npm run format

feat: change password api
  src/config/auth.config.ts
  src/config/config.type.ts
  src/constants/auth-audit-log-event.ts
  src/constants/role-type.ts
  src/constants/success-message.ts
  src/decorators/field.decorator.ts
  src/decorators/validator.decorator.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dtos/body/change-password.dto.ts
  src/modules/auth/dtos/body/email-login.dto.ts
  src/modules/auth/dtos/response/change-password.dto.ts
  src/modules/companies/company.controller.ts
  src/modules/companies/company.service.ts
  src/modules/companies/infrastructure/persistence/mapper/company.mapper.ts
  src/modules/users/user.controller.ts
  src/modules/users/user.service.ts
  src/shared/services/api-config.service.ts
Due: npm run lint, npm run format

feat: pagination and user filter in get companies
  src/common/dto/base-response.dto.ts
  src/common/dto/page-meta.dto.ts
  src/common/dto/page-options.dto.ts
  src/common/dto/page.dto.ts
  src/database/entities/index.ts
  src/modules/auth/auth.module.ts
  src/modules/companies/company.controller.ts
  src/modules/companies/company.module.ts
  src/modules/companies/company.service.ts
  src/modules/companies/domain/company.dto.ts
  src/modules/companies/dtos/query/get-companies.dto.ts
  src/modules/companies/infrastructure/persistence/mapper/company.mapper.ts
  src/modules/roles/dtos/query/get-roles.dto.ts
  src/modules/roles/infrastructure/persistence/mapper/role.mapper.ts
  src/modules/roles/role.controller.ts
  src/modules/roles/role.module.ts
  src/modules/roles/role.service.ts
  src/modules/token/token.module.ts
  src/modules/users/domain/user.dto.ts
  src/modules/users/dtos/query/get-users.dto.ts
  src/modules/users/infrastructure/persistence/mapper/user.mapper.ts
  src/modules/users/user.controller.ts
  src/modules/users/user.module.ts
  src/modules/users/user.service.ts
Due: npm run lint, npm run format

feat: husky
  package-lock.json
  package.json
  src/constants/auth-audit-log-event.ts
Due: npm run lint, npm run format

feat: husky
  .husky/_/applypatch-msg
  .husky/_/commit-msg
  .husky/_/h
  .husky/_/husky.sh
  .husky/_/post-applypatch
  .husky/_/post-checkout
  .husky/_/post-commit
  .husky/_/post-merge
  .husky/_/post-rewrite
  .husky/_/pre-applypatch
  .husky/_/pre-auto-gc
  .husky/_/pre-commit
  .husky/_/pre-merge-commit
  .husky/_/pre-push
  .husky/_/pre-rebase
  .husky/_/prepare-commit-msg
Due: none

fix: lint issues
  .husky/_/commit-msg
  .husky/_/pre-commit
  src/common/dto/base-response.dto.ts
  src/common/dto/page-meta.dto.ts
  src/common/dto/page-options.dto.ts
  src/common/dto/page.dto.ts
  src/config/config.type.ts
  src/constants/auth-audit-log-event.ts
  src/constants/role-type.ts
  src/database/seeds/user/user-seed.module.ts
  src/decorators/field.decorator.ts
  src/decorators/validator.decorator.ts
  src/i18n/en_US/create-user.json
  src/i18n/ru_RU/create-user.json
  src/mail/mail-templates/create-user.hbs
  src/mail/mail.service.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/companies/company.controller.ts
  src/modules/companies/company.module.ts
  src/modules/companies/company.service.ts
  src/modules/companies/domain/company.dto.ts
  src/modules/companies/dtos/query/get-companies.dto.ts
  src/modules/companies/infrastructure/persistence/mapper/company.mapper.ts
  src/modules/roles/dtos/query/get-roles.dto.ts
  src/modules/roles/infrastructure/persistence/mapper/role.mapper.ts
  src/modules/roles/role.service.ts
  src/modules/users/domain/user.dto.ts
  src/modules/users/infrastructure/persistence/mapper/user.mapper.ts
  src/modules/users/user.controller.ts
  src/modules/users/user.service.ts
  src/shared/services/api-config.service.ts
Due: npm run lint, npm run format

feat: docker integration
  .docker/Dockerfile
  .docker/docker-compose.test.yaml
  .docker/docker-compose.yaml
  .docker/e2e.Dockerfile
  .docker/maildev.Dockerfile
  .docker/test.Dockerfile
  .env.test
  env-example
  install.sh
  package.json
  scripts/docker-e2e.sh
  scripts/startup.dev.sh
  scripts/startup.document.dev.sh
  scripts/startup.test.sh
  scripts/wait-for-it.sh
  src/database/data-source.ts
  src/database/seeds/role/role-seed.service.ts
  src/polyfill.ts
Due: npm run lint, npm run format

feat: added createdby, updatedby and deletedby in all entities except token and auth audit log
  src/app.module.ts
  src/common/abstract.entity.ts
  src/database/data-source.ts
  src/database/migrations/1745959456242-AddExtraColumnsCreatedByUpdatedByDeletedByAndDeletedAt.ts
  src/database/migrations/1745959990529-AddForeignKeyReferencesToCreatedByUpdatedByDeletedBy.ts
  src/database/migrations/1745960103560-AddForeignKeyReferencesOfUser.ts
  src/modules/auth-audit-logs/domain/auth-audit-log.dto.ts
  src/modules/auth-audit-logs/infrastructure/entities/auth-audit-log.entity.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/infrastructure/persistence/entities/session.entity.ts
  src/modules/companies/company.controller.ts
  src/modules/companies/company.service.ts
  src/modules/companies/infrastructure/persistence/entities/company.entity.ts
  src/modules/roles/infrastructure/persistence/entities/role.entity.ts
  src/modules/roles/infrastructure/persistence/entities/user-role.entity.ts
  src/modules/roles/role.controller.ts
  src/modules/roles/role.service.ts
  src/modules/token/domain/token.dto.ts
  src/modules/token/infrastructure/persistence/entities/token.entity.ts
  src/modules/users/infrastructure/persistence/entities/profile-setting.entity.ts
  src/modules/users/infrastructure/persistence/entities/user.entity.ts
  src/modules/users/user.controller.ts
  src/modules/users/user.service.ts
  src/test/test-translation.entity.ts
  src/test/test.controller.ts
  src/test/test.entity.ts
Due: npm run lint, npm run format

fix: pagination, ordering and company with users
  .env.test
  .husky/_/commit-msg
  .husky/_/pre-commit
  src/common/dto/page-meta.dto.ts
  src/constants/company-status.ts
  src/constants/order.ts
  src/constants/sort.ts
  src/modules/companies/company.controller.ts
  src/modules/companies/company.service.ts
  src/modules/companies/dtos/body/create-company.dto.ts
  src/modules/companies/dtos/body/update-company.dto.ts
  src/modules/companies/dtos/query/get-companies.dto.ts
  src/modules/companies/dtos/query/get-company-by-id.dto.ts
  src/modules/companies/infrastructure/persistence/entities/company.entity.ts
  src/modules/companies/infrastructure/persistence/mapper/company.mapper.ts
  src/modules/roles/dtos/query/get-roles.dto.ts
  src/modules/roles/infrastructure/persistence/entities/role.entity.ts
  src/modules/roles/infrastructure/persistence/mapper/role.mapper.ts
  src/modules/roles/role.controller.ts
  src/modules/roles/role.service.ts
  src/modules/users/domain/user.dto.ts
  src/modules/users/dtos/query/get-users.dto.ts
  src/modules/users/infrastructure/persistence/mapper/user.mapper.ts
  src/modules/users/user.controller.ts
  src/modules/users/user.service.ts
  src/utils/is-role.ts
Due: npm run lint, npm run format

unique role name
  src/database/migrations/1746100432372-UniqueRoleName.ts
  src/database/seeds/run-seed.ts
Due: npm run lint, npm run format

chore: restrict node/npm version to avoid conflicts
  package.json
Due: npm run format

chore: setup containerize development environment
  .dockerignore
  .gitignore
  Dockerfile.dev
  docker-compose.dev.yaml
Due: npm run format

chore: change env file to settle the default env requirement
  docker-compose.dev.yaml
Due: npm run format

chore: remove unnecessary env files from .dockerignore
  .dockerignore
Due: none

docs(onboarding): add instruction to spin up containerize dev server
  README.md
Due: npm run format

fix: phone number validation and cors config
  src/config/app.config.ts
  src/config/config.type.ts
  src/decorators/transform.decorator.ts
  src/main.ts
  src/modules/auth/dtos/body/email-signup.dto.ts
  src/modules/companies/dtos/body/create-company.dto.ts
  src/modules/companies/dtos/body/update-company.dto.ts
  src/modules/users/dtos/body/create-user.dto.ts
  src/modules/users/dtos/body/update-user.dto.ts
  src/modules/users/user.service.ts
  src/shared/services/api-config.service.ts
Due: npm run lint, npm run format

docs(onboarding): add database seeding instructions
  README.md
Due: npm run format

refactor(core): move metadata attributes to base entity
  src/common/abstract.entity.ts
  src/database/migrations/1744873269686-Initial.ts
  src/database/migrations/1744958423493-AuthAuditLog.ts
  src/database/migrations/1745031075642-AuthAuditLog.ts
  src/database/migrations/1745050472938-User.ts
  src/database/migrations/1745382335187-add_column.ts
  src/database/migrations/1745959456242-AddExtraColumnsCreatedByUpdatedByDeletedByAndDeletedAt.ts
  src/database/migrations/1745959990529-AddForeignKeyReferencesToCreatedByUpdatedByDeletedBy.ts
  src/database/migrations/1745960103560-AddForeignKeyReferencesOfUser.ts
  src/database/migrations/1746100432372-UniqueRoleName.ts
  src/database/migrations/1753704599564-initial.ts
  src/modules/auth/auth.service.ts
  src/modules/companies/company.service.ts
  src/modules/images/image.controller.ts
  src/modules/images/image.module.ts
  src/modules/images/image.service.ts
  src/modules/images/pipes/image-upload.pipe.ts
  src/modules/roles/role.service.ts
  src/modules/users/user.service.ts
Due: npm run lint, npm run format

feat(attachments): update attachment module for hierarchical uploads
  src/app.module.ts
  src/constants/error-message.ts
  src/constants/success-message.ts
  src/database/entities/index.ts
  src/modules/attachments/attachments.controller.ts
  src/modules/attachments/attachments.module.ts
  src/modules/attachments/attachments.service.ts
  src/modules/attachments/domain/attachment.dto.ts
  src/modules/attachments/dtos/body/create-attachment.dto.ts
  src/modules/attachments/dtos/query/attachment-query.dto.ts
  src/modules/attachments/dtos/response/attachment.dto.ts
  src/modules/attachments/dtos/response/list-attachment.dto.ts
  src/modules/attachments/infrastructure/persistence/entities/attachment.entity.ts
  src/modules/attachments/infrastructure/persistence/mapper/attachment.mapper.ts
  src/modules/attachments/pipes/document-validation.pipe.ts
  src/modules/attachments/pipes/image-validation.pipe.ts
  src/shared/services/api-config.service.ts
  src/shared/services/aws-s3.service.ts
Due: npm run lint, npm run format

chore: restrict node version to avoid conflicts
  package-lock.json
Due: npm run format

fix: add tenantId to the payload
  src/modules/attachments/attachments.service.ts
Due: npm run lint, npm run format

feat(auth): allow closing all sessions on password change
  src/constants/error-message.ts
  src/constants/success-message.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dtos/body/change-password.dto.ts
  src/modules/auth/dtos/body/reset-password.dto.ts
  src/modules/auth/dtos/body/terminate-user-sessions.dto.ts
  src/modules/auth/dtos/response/terminate-user-sessions.dto.ts
Due: npm run lint, npm run format
